/* Global styles */
body {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/static/images/background_image.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    margin: 0 auto;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Flip container setup */
.form-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px; 
    perspective: 1000px; /* Enable 3D perspective */
    height: 100%; /* Allow container to resize based on content */
    transition: height 0.6s ease; /* Animate height changes */
}

/* Form styling for the 3D flip */
.form {
    width: 100%;
    backface-visibility: hidden;  /* Ensures forms are not visible when flipped */
    position: absolute; /* Position forms in the same spot */
    top: 0;
    left: 0;
    transition: transform 0.6s ease-in-out, opacity 0.3s ease-in-out;
}

/* Default positions */
.login-form {
    transform: rotateY(0deg);  /* Initially shown */
    opacity: 1;
}

.signup-form {
    transform: rotateY(180deg);  /* Initially hidden */
    opacity: 0;
}

/* When flipped, swap the transforms */
.flipped .login-form {
    transform: rotateY(180deg);  /* Hide login form */
    opacity: 0;
}

.flipped .signup-form {
    transform: rotateY(0deg);  /* Show signup form */
    opacity: 1;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(98, 98, 98, 0.8);
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: height 0.6s ease;
    height: auto;  /* Allow container to resize based on content */
}

/* Style adjustments for visuals */
.login-logo {
    border-radius: 100px;
    height: 170px;
}

.login-heading {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
}

.form-label {
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.form-input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.submit-btn {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #008cff;
    color: #ffffff;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0061b1;
}



/*-----------------------------------  Sidebar Styles  -----------------------------------*/

/* Sidebar styles */
.sidebar {
    height: 100vh;
    width: 250px; /* Width for sidebar */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: width 0.3s;
    display: flex; 
    flex-direction: column; /* Stack vertically */
    justify-content: space-between;
}

/* Sidebar content area */
.sidebar-content {
    padding-top: 60px;
    flex-grow: 1;
}

/* Sidebar links */
.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: background-color 0.3s; /* Smooth transition for hover */
    width: 250px;
}

.sidebar a:hover {
    background-color: #0061b1;
}

.main-content {
    margin-left: 250px; /* Offset for sidebar width */
    padding: 16px;
    transition: margin-left 0.3s; /* Smooth transition for margin */
}

.burger-menu {
    display: none; /* Initially hidden */
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 15px;
}

.logout-button {
    display: block;
    padding: 15px; 
    text-decoration: none;
    color: white; 
    background-color: #008cff;
    text-align: center; 
    transition: background-color 0.3s;
    width: 100% !important;
    padding-left: 0px !important;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 0; /* Initially hidden */
    }

    .main-content {
        margin-left: 0; /* No margin when sidebar is hidden */
    }

    .burger-menu {
        display: block; /* Show burger menu */
    }
}

/* Open sidebar in responsive mode */
.open-sidebar {
    width: 250px !important;
}

.main-content.shifted {
    margin-left: 250px !important;
}

